.paragraf {
    font-size: 38px;
    font-weight: 700;
    color: brown;

}

.color-paragraf1 {
    color: #ef7513;
}

.color-paragraf2 {
    color: rgba(239,117 ,19 ,0.94 );
   
}
.font-20 {
    font-size: 20px;
}

.width-100 {
    width: 100%;
}

.color-pink {
    color: pink;
}

.box {
    height: 50px;
    width: 250px;
    margin: 10px;
}

.red {
    background-color: red;
}