.box-container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}

.box-div{
    display:flex;
    flex-direction: column;
    background-color: rgb(0, 159, 106);
    align-items: center;
    text-align: center;
    width: 50%;
}

.box-title{
    color: white;
    font-size: 48px;
    margin: 0 auto;
}

.box-paragraph{
    color:rgb(93, 0, 255);
    margin: 5px 15px;
}
