 .prg {
     font-size: 30px;
     font-weight: bolder;
     color: brown;
 }

 #ddiv {
     color: blue;
 }

 .paragrafA{
    color: #4B18C9;
 }

 .paragrafB{
    color: rgba(253, 202, 119, 0.99);
 }