* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}
body {
    font-size: 1.4rem;
}

.calculator {
    border: 1px solid #ccc;
    width: 400px;
    border-radius: 0.5rem;
    position: absolute; /* konumlanıdırma için -- marginde kullanabiliriz flex yapasıda */
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}   

.calculator .calculator-input {
    width: 100%;
    font-size: 4rem;
    height: 7rem;
    border: none;
    background-color: #222121;
    color: #fff;
    text-align: right;
    padding: 1.5rem;
}

button {
    height: 50px;
    background-color: #fff;
    border-radius: .3rem;
    border: 1px solid #c4c4c4;
    font-size: 2.5rem;
    color: #2d2c2c
    
}

button:hover {
    background-color: #e9e3e3;
}

.operator {
    color: #2d84be;
}

.clear {
    background-color:#b0353a;
    color: #fff;
    border-color: #c0345599;;
}

.clear:hover {
    background-color: #f2767a;
}

.equal {
    background-color: #2e86c0;
    border-color: #368fc9;
    color: #fff;
    height: 100%;
    grid-area: 2/4/6/4; /* 2. row 4. col 'dan başla dedik -- konumumnu başlangıç ve bitiş ile ayarlama */
    /*bitiş ayarlanırken 6. satır 4. sutun dedik ama 6. satırı dahil etmez.*/
}

.equal:hover {
    background-color: #52a5dd;
}

.calculator-keys {
    display: grid; /* grid row and col line */
  /*  grid-template-columns: repeat(4 , 25%); /* kolonlara göre sıralama belirtme */
    /* -- her satırda 4 eleman ve her biri 25% yer kaplayacak */
    grid-template-columns: repeat(4 , 1fr); /* alttaki boşluğuda dahil edersen fr kullanmamız daha iyi olur. */
    grid-gap: 20px; /* elemanlara arası boşluk*/
    padding: 2rem;

}