.paragraf {
  font-size: 30px;
  font-weight: bolder;
  color: brown;
}

div .textColorBlue {
  color: blue;
}

.colorParagraf1{
  color: #EF7513;
}
.colorParagraf2 {
  color: rgba(239,117,19,0.94);
}
.font-20{
  font-size: 20px;
}
.with100{
  width: 100%;
}
.colorGreen{
  background-color: #20a748;
}
.colorPink{
  background-color: #bf35c9;
}
.with50 {
  width: 50%;
}
.marginXAuto{
  margin-left: auto;
  margin-right: auto;
}
.box{
  height: 50px;
  width: 250px;
  margin: 10px;
}
.red{
  background-color: red;
  margin-left: 50px;
  padding-left: 10px;
  padding-top: 20px;
}
.blue{
  background-color: blue;
  margin-bottom: 10px;
}
.green{
  background-color: green;
  margin-top: 20px;
}
.bgImage{
  height: 200px;
  width: 200px;
  background-image: url("pexels-olena-bohovyk-13813443.jpg");
  background-size: 100%;
  background-position-y: center;
}
.borderRadius{
  border-radius: 50%;
}